html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*style.css*/
/*selanjutanya ada yang namanya min-content dan max-content
min-content dan max-content berfungsi untuk menentukan seberapa besar ukuran grid track berdasarkan conent pada sebuah item
ditulis
.conteiner{
    display: gird;
    grid-template-columns: min-content | max-content;
}*/
.container{
    width: 60%;
    margin: 40px auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;nah jika kolom 2 kita ganti menjadi min-content maka dia akan mengecil sesuai dengan contentnya*/
    grid-template-columns: 1fr max-content 1fr;
    /*nah kalo kita ganti dengan max-content maka akan sama saja nah terus apa bedanya dong? kalo kita kasih contenya lebih dari 1 kata maka akan jelas perbedaannya jadi kalo min-content tulisannya akan dipecah menjadi tiap tiap kata dan tiap tiap katanya akan dicari mana kata yang paling panjang itu yang akan dipilih, kalo max-content ini tidak peduli ada berapa baris dai akan ambil seluruh katanya menjadi satu baris*/
}
.container .item{
    background-color: aqua;
}
.container .item:nth-child(even){
    background-color: salmon;
}
