/*nah sebelumnya kita tidak bisa membuat childnya tidak transparan terhadap body akan tetapi kali ini kita akan coba membuat childnya tidak transparan terhadap body*/
/*nah caranya kita menggunakan properti yang namanya rgba*/

body{
    background-image: url(./muiz.jpg);
    background-repeat: no-repeat;
    background-position: 0 -370px;
    background-size: cover;
}
.satu{
    width: 300px;
    height: 300px;
    background-color: rgba(225, 0, 0, .7); /*nah jadi akan terlihat warna merah transparan terhadap body dan warna biru tidak transparan terhadap warna merah maupun body karena yang kita kasih transparanya sekarang adalah warna kalo opacity itu digunakan transparanci elemen*/
    /*alphanya itu nilainya/valuenya sama dengan opacity*/

    /*nah selain rgba kita juga bisa menggunakan hsla(hue staturation lightness alpha yaitu sama sama untuk menentukan warna*/
    position: relative;
}
.dua{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: -50px;
    bottom:  -50px;
}